In [419]:
import pandas

In [420]:
df1 = pd.read_csv('datasets/movies_final.csv')
df1

,index,movie_id,title,tags
0,0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,4,49529,John Carter,"John Carter is a war-weary, former military ca..."
...,...,...,...,...
4801,4801,9367,El Mariachi,El Mariachi just wants to play his guitar and ...
4802,4802,72766,Newlyweds,A newlywed couple's honeymoon is upended by th...
4803,4803,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic..."
4804,4804,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...
4805,4805,25975,My Date with Drew,Ever since the second grade when he first saw ...

In [421]:
import requests

In [422]:
df1['title'][3857]

'Taxman'

In [423]:
df1['index'][3857]

3857

In [424]:
# function for fetching the imdb movie id from tmdb website
def fetch_id(movie_id):
    response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key=b22d8f05f450388bcbcadeb361159a39&language=en-US'.format(movie_id))
    data = response.json()
    return data['imdb_id']

In [425]:
imdb_list_old = []

In [426]:
# for obtaining the imdb movie id of all the movies in the dataset
for i in df1['movie_id'][:]:
    imdb_ids = fetch_id(i)
    imdb_list_old.append(imdb_ids)

KeyError: 'imdb_id'

In [415]:
# we are getting error because some of the movies in our dataset are not currently in tmdb website

### But it seems that 7 movies in our dataset are not available in the tmdb website so we have to remove them from our dataset

In [427]:
df1 = df1.drop([df.index[2637],df.index[3212],df.index[3289],df.index[3296],df.index[3514],df.index[3858],df.index[3954]])
df1

,index,movie_id,title,tags
0,0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,4,49529,John Carter,"John Carter is a war-weary, former military ca..."
...,...,...,...,...
4801,4801,9367,El Mariachi,El Mariachi just wants to play his guitar and ...
4802,4802,72766,Newlyweds,A newlywed couple's honeymoon is upended by th...
4803,4803,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic..."
4804,4804,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...
4805,4805,25975,My Date with Drew,Ever since the second grade when he first saw ...

In [428]:
df1.shape

(4799, 4)

### Rearrange the index values

In [442]:
df1["index"]=[i for i in range(0,df1.shape[0])]
df1

,index,movie_id,title,tags
0,0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,4,49529,John Carter,"John Carter is a war-weary, former military ca..."
...,...,...,...,...
4801,4794,9367,El Mariachi,El Mariachi just wants to play his guitar and ...
4802,4795,72766,Newlyweds,A newlywed couple's honeymoon is upended by th...
4803,4796,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic..."
4804,4797,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...
4805,4798,25975,My Date with Drew,Ever since the second grade when he first saw ...

In [443]:
df1.shape

(4799, 4)

In [448]:
df1.to_csv('datasets/movies_final.csv',index=False)

In [ ]:
imdb_list = []

In [431]:
# now again try to fetch the imdb movie ids of our dataset from the tmdb website
for i in df1['movie_id'][:]:
    imdb_ids = fetch_id(i)
    imdb_list.append(imdb_ids)

In [432]:
imdb_list

['tt0499549',
 'tt0449088',
 'tt2379713',
 'tt1345836',
 'tt0401729',
 'tt0413300',
 'tt0398286',
 'tt2395427',
 'tt0417741',
 'tt2975590',
 'tt0348150',
 'tt0830515',
 'tt0383574',
 'tt1210819',
 'tt0770828',
 'tt0499448',
 'tt0848228',
 'tt1298650',
 'tt1409024',
 'tt2310332',
 'tt0948470',
 'tt0955308',
 'tt1170358',
 'tt0385752',
 'tt0360717',
 'tt0120338',
 'tt3498820',
 'tt1440129',
 'tt0369610',
 'tt1074638',
 'tt0316654',
 'tt1300854',
 'tt1014759',
 'tt0376994',
 'tt1453405',
 'tt1055369',
 'tt2109248',
 'tt1623205',
 'tt1872181',
 'tt1104001',
 'tt1216475',
 'tt1133985',
 'tt0435761',
 'tt0438488',
 'tt2820852',
 'tt0816711',
 'tt1877832',
 'tt1408101',
 'tt1351685',
 'tt1343092',
 'tt0473075',
 'tt1663662',
 'tt1399103',
 'tt0367882',
 'tt1979388',
 'tt1217209',
 'tt2660888',
 'tt0910970',
 'tt0293564',
 'tt1190080',
 'tt1067106',
 'tt1617661',
 'tt0918940',
 'tt0363771',
 'tt3385516',
 'tt0468569',
 'tt1049413',
 'tt0892782',
 'tt0371746',
 'tt0970179',
 'tt0120891',
 'tt0859163',
 'tt1386697',
 'tt0413099',
 'tt1631867',
 'tt0114898',
 'tt1046173',
 'tt2096673',
 'tt3040964',
 'tt1228705',
 'tt1735898',
 'tt1587310',
 'tt2103281',
 'tt1321869',
 'tt1335975',
 'tt1843866',
 'tt0892791',
 'tt1964418',
 'tt2245084',
 'tt1772341',
 'tt0338348',
 'tt1628841',
 'tt0892769',
 'tt0181852',
 'tt2015381',
 'tt0816692',
 'tt1375666',
 'tt4262980',
 'tt0903624',
 'tt0232500',
 'tt0421715',
 'tt1270798',
 'tt1951266',
 'tt0963966',
 'tt0409182',
 'tt2567026',
 'tt0413267',
 'tt0803096',
 'tt1340138',
 'tt0980970',
 'tt0213149',
 'tt0418279',
 'tt0346491',
 'tt0373889',
 'tt0330373',
 'tt0448157',
 'tt0480249',
 'tt0367594',
 'tt0382932',
 'tt0372784',
 'tt0479952',
 'tt1078912',
 'tt0458525',
 'tt0242653',
 'tt2294629',
 'tt0234215',
 'tt1981115',
 'tt1392190',
 'tt0808151',
 'tt0800369',
 'tt0397892',
 'tt0436339',
 'tt1646987',
 'tt1077368',
 'tt2381249',
 'tt0780653',
 'tt0389790',
 'tt1302011',
 'tt0938283',
 'tt0317919',
 'tt2334879',
 'tt1305591',
 'tt0424095',
 'tt3332064',
 'tt0864835',
 'tt0332452',
 'tt1277953',
 'tt0246460',
 'tt1289401',
 'tt0120591',
 'tt0120912',
 'tt0442933',
 'tt2267968',
 'tt1229238',
 'tt1446192',
 'tt0369441',
 'tt0325710',
 'tt1528100',
 'tt0796366',
 'tt0145487',
 'tt1646971',
 'tt2404233',
 'tt0382992',
 'tt0409459',
 'tt0122151',
 'tt0286716',
 'tt1583421',
 'tt0318649',
 'tt0173840',
 'tt0458339',
 'tt0143145',
 'tt0311113',
 'tt1673434',
 'tt1402488',
 'tt0800080',
 'tt3691740',
 'tt1663202',
 'tt1860353',
 'tt1192628',
 'tt1911658',
 'tt0440963',
 'tt0441773',
 'tt0478970',
 'tt1951264',
 'tt2224026',
 'tt0407304',
 'tt0172156',
 'tt0448694',
 'tt0944835',
 'tt1959490',
 'tt0983193',
 'tt0304141',
 'tt0455824',
 'tt1815862',
 'tt0130623',
 'tt2692250',
 'tt1001526',
 'tt0241527',
 'tt0790736',
 'tt0325980',
 'tt1951265',
 'tt0382625',
 'tt2357291',
 'tt0290334',
 'tt1596343',
 'tt1515091',
 'tt0800320',
 'tt0100802',
 'tt0120657',
 'tt1194173',
 'tt0118688',
 'tt0170016',
 'tt0319262',
 'tt0120755',
 'tt0177971',
 'tt0486576',
 'tt0454876',
 'tt0259324',
 'tt4196776',
 'tt0305357',
 'tt1446714',
 'tt0243585',
 'tt1535108',
 'tt0296572',
 'tt1234721',
 'tt0811080',
 'tt1341188',
 'tt1013743',
 'tt1483013',
 'tt0121766',
 'tt0121765',
 'tt0198781',
 'tt1430132',
 'tt0120915',
 'tt0481499',
 'tt0463872',
 'tt0245562',
 'tt2381991',
 'tt1291150',
 'tt1454468',
 'tt0118928',
 'tt3949660',
 'tt1502712',
 'tt0477347',
 'tt2126355',
 'tt0120347',
 'tt0187393',
 'tt0349903',
 'tt0356910',
 'tt2908446',
 'tt0338751',
 'tt1320261',
 'tt0990407',
 'tt1253863',
 'tt0472181',
 'tt0299172',
 'tt3410834',
 'tt0433035',
 'tt2017020',
 'tt0120179',
 'tt1731141',
 'tt0337978',
 'tt0120737',
 'tt0327437',
 'tt0248667',
 'tt0312528',
 'tt0343818',
 'tt0320661',
 'tt0164912',
 'tt0780521',
 'tt3659388',
 'tt0399201',
 'tt0141907',
 'tt0187078',
 'tt0172495',
 'tt0181689',
 'tt0295297',
 'tt0381061',
 'tt0133152',
 'tt0103064',
 'tt1152836',
 'tt0765429',
 'tt0111503',
 'tt1111422',
 'tt0970866',
 'tt1386588',
 'tt0116213',
 'tt1853728',
 'tt0116583',
 'tt0120917',
 'tt1764651',
 'tt0368891',
 'tt0449010',
 'tt0386117',
 'tt0848537',
 'tt1243957',
 'tt0146675',
 'tt0450259',
 'tt0993846',
 'tt0112462',
 'tt0120201',
 'tt1371111',
 'tt1219342',
 'tt0327554',
 'tt1267297',
 'tt0133240',
 'tt0457400',
 'tt2333784',
 'tt2058673',
 'tt0362165',
 'tt1390411',
 'tt0180052',
 'tt0947810',
 'tt2452042',
 'tt0120176',
 'tt0209163',
 'tt0217505',
 'tt1410063',
 'tt0423294',
 'tt0327162',
 'tt0265086',
 'tt1790886',
 'tt0119116',
 'tt1261945',
 'tt0138749',
 'tt1667889',
 'tt1661199',
 'tt0380510',
 'tt0266543',
 'tt0167260',
 'tt0167261',
 'tt1121096',
 'tt0146316',
 'tt2209764',
 'tt0163025',
 'tt1318514',
 'tt0416236',
 'tt1606378',
 'tt0318974',
 'tt0317705',
 'tt0112760',
 'tt0814255',
 'tt0119654',
 'tt0120363',
 'tt0477080',
 'tt0266915',
 'tt0161081',
 'tt0844471',
 'tt1080016',
 'tt0359950',
 'tt0160127',
 'tt0407887',
 'tt0120762',
 'tt0942385',
 'tt1568346',
 'tt0112864',
 'tt0988045',
 'tt2638144',
 'tt0230011',
 'tt2974918',
 'tt0985699',
 'tt0960144',
 'tt2120120',
 'tt0212720',
 'tt0338094',
 'tt0118884',
 'tt0164052',
 'tt0373926',
 'tt1854564',
 'tt0325703',
 'tt3110958',
 'tt0120053',
 'tt0266987',
 'tt0183523',
 'tt1436562',
 'tt0182789',
 'tt0120461',
 'tt0118972',
 'tt0267626',
 'tt0082198',
 'tt0352248',
 'tt1041804',
 'tt0329575',
 'tt0117998',
 'tt0162222',
 'tt0366548',
 'tt0372183',
 'tt0118571',
 'tt0240772',
 'tt1509767',
 'tt0837562',
 'tt0461770',
 'tt1599348',
 'tt0211181',
 'tt0471042',
 'tt0457939',
 'tt0120660',
 'tt1230414',
 'tt0496806',
 'tt0400717',
 'tt1840309',
 'tt0215750',
 'tt0327850',
 'tt0107362',
 'tt0397535',
 'tt0463985',
 'tt1430607',
 'tt0119643',
 'tt0233469',
 'tt0078754',
 'tt1667353',
 'tt0446029',
 'tt0298814',
 'tt0144528',
 'tt0267913',
 'tt1343727',
 'tt0389860',
 'tt0083767',
 'tt1287468',
 'tt0489099',
 'tt0411477',
 'tt0443706',
 'tt0216216',
 'tt0315327',
 'tt1320253',
 'tt0117060',
 'tt1392170',
 'tt1411697',
 'tt0103776',
 'tt0327084',
 'tt0275847',
 'tt0413895',
 'tt0120647',
 'tt1821694',
 'tt0398165',
 'tt1615918',
 'tt2191701',
 'tt0425061',
 'tt0337741',
 'tt1130884',
 'tt0369436',
 'tt0358082',
 'tt0119094',
 'tt0960731',
 'tt0257044',
 'tt1564367',
 'tt0118880',
 'tt1059786',
 'tt0159365',
 'tt1037705',
 'tt0119137',
 'tt0171363',
 'tt0117705',
 'tt0383216',
 'tt0970416',
 'tt0118883',
 'tt2713180',
 'tt0120828',
 'tt1302067',
 'tt0166813',
 'tt1222817',
 'tt0120738',
 'tt0368008',
 'tt0119033',
 'tt2510894',
 'tt0120910',
 'tt0268695',
 'tt0120751',
 'tt0244244',
 'tt0386140',
 'tt0120889',
 'tt0185431',
 'tt0355295',
 'tt0116996',
 'tt4291590',
 'tt0119051',
 'tt0986263',
 'tt0146309',
 'tt0116040',
 'tt1762399',
 'tt0185183',
 'tt0318155',
 'tt0875034',
 'tt0300556',
 'tt0119925',
 'tt0120595',
 'tt1618442',
 'tt0199753',
 'tt0344854',
 'tt0765128',
 'tt0318081',
 'tt1921064',
 'tt4057916',
 'tt0268978',
 'tt0110357',
 'tt1397514',
 'tt1985966',
 'tt0289765',
 'tt0317648',
 'tt0810913',
 'tt0322259',
 'tt1754656',
 'tt0427392',
 'tt0131704',
 'tt2709768',
 'tt0311429',
 'tt1690953',
 'tt0116629',
 'tt0119567',
 'tt0351283',
 'tt0206634',
 'tt0120903',
 'tt0493464',
 'tt0117500',
 'tt0438097',
 'tt0343660',
 'tt0427327',
 'tt0204313',
 'tt0141369',
 'tt1670345',
 'tt1375670',
 'tt0362227',
 'tt0785006',
 'tt0190865',
 'tt0472062',
 'tt0307453',
 'tt0443489',
 'tt0377471',
 'tt0408306',
 'tt0314353',
 'tt1103153',
 'tt1638355',
 'tt0371246',
 'tt0385880',
 'tt0219965',
 'tt0113071',
 'tt0166485',
 'tt1253864',
 'tt0340163',
 'tt0120913',
 'tt0329717',
 'tt0120157',
 'tt0806203',
 'tt0166276',
 'tt0377062',
 'tt0217869',
 'tt2293640',
 'tt0978764',
 'tt0120832',
 'tt0120184',
 'tt1985949',
 'tt0770752',
 'tt1201167',
 'tt0431197',
 'tt0415306',
 'tt0240462',
 'tt0112573',
 'tt0418763',
 'tt0462538',
 'tt0268995',
 'tt0132245',
 'tt0338512',
 'tt0368447',
 'tt0118998',
 'tt0286106',
 'tt0298148',
 'tt0317219',
 'tt0163187',
 'tt0295701',
 'tt2279373',
 'tt0117438',
 'tt0361748',
 'tt0102057',
 'tt0099423',
 'tt0257076',
 'tt0259711',
 'tt0452637',
 'tt0370263',
 'tt1231580',
 'tt0277434',
 'tt2302755',
 'tt0120844',
 'tt1217613',
 'tt0319061',
 'tt0111742',
 'tt1568911',
 'tt2177771',
 'tt0096754',
 'tt1027718',
 'tt0829150',
 'tt0133952',
 'tt0486655',
 'tt0120102',
 'tt1578275',
 'tt0280486',
 'tt0419706',
 'tt0297181',
 'tt1496025',
 'tt1336608',
 'tt0251114',
 'tt1448755',
 'tt0246894',
 'tt0308208',
 'tt0120696',
 'tt0181739',
 'tt0884726',
 'tt2717822',
 'tt0346156',
 'tt0430912',
 'tt1211956',
 'tt1043726',
 'tt0164184',
 'tt1325004',
 'tt0227445',
 'tt1323594',
 'tt0113845',
 'tt2637276',
 'tt1186830',
 'tt0132347',
 'tt0480687',
 'tt0140352',
 'tt2025690',
 'tt0758774',
 'tt0427152',
 'tt1611224',
 'tt0137494',
 'tt0120902',
 'tt0462396',
 'tt0120815',
 'tt2369135',
 'tt0207201',
 'tt0268380',
 'tt0285531',
 'tt0443272',
 'tt0133093',
 'tt0112384',
 'tt0304669',
 'tt1707386',
 'tt0128853',
 'tt0838283',
 'tt0120746',
 'tt1231583',
 'tt1809398',
 'tt0186566',
 'tt0106582',
 'tt0115759',
 'tt0219854',
 'tt0469641',
 'tt0304415',
 'tt1645170',
 'tt0120663',
 'tt1823664',
 'tt2381941',
 'tt1596350',
 'tt0359013',
 'tt0087985',
 'tt0119942',
 'tt1855325',
 'tt0452608',
 'tt0116908',
 'tt0228750',
 'tt0406375',
 'tt0137523',
 'tt0758794',
 'tt0102070',
 'tt0219952',
 'tt1418377',
 'tt0380599',
 'tt0357277',
 'tt0458481',
 'tt0156934',
 'tt2719848',
 'tt0396171',
 'tt0295178',
 'tt0375568',
 'tt0107290',
 'tt0111756',
 'tt0109444',
 'tt3672840',
 'tt0430304',
 'tt0141926',
 'tt0112346',
 'tt0811138',
 'tt0233142',
 'tt3460252',
 'tt0445934',
 'tt1411704',
 'tt0416449',
 'tt0290002',
 'tt0822832',
 'tt0120689',
 'tt0486946',
 'tt0371606',
 'tt2267998',
 'tt0258463',
 'tt0113189',
 'tt0144214',
 'tt0120382',
 'tt0120794',
 'tt0317303',
 'tt1272878',
 'tt0239395',
 'tt0317740',
 'tt0313737',
 'tt0120587',
 'tt1078940',
 'tt0099371',
 'tt0452598',
 'tt4046784',
 'tt0879870',
 'tt0218967',
 'tt1245526',
 'tt0146838',
 'tt0119314',
 'tt0369339',
 'tt0277296',
 'tt0349710',
 'tt0790724',
 'tt0149261',
 'tt1477715',
 'tt1598778',
 'tt0257568',
 'tt0327597',
 'tt0949731',
 'tt0328107',
 'tt0393735',
 'tt0335438',
 'tt0116705',
 'tt0167190',
 'tt0120633',
 'tt1623288',
 'tt0119395',
 'tt0338337',
 'tt0118055',
 'tt0420238',
 'tt0290095',
 'tt0114781',
 'tt1205537',
 'tt2446980',
 'tt3300542',
 'tt0118583',
 'tt0822854',
 'tt0787474',
 'tt0120791',
 'tt1490017',
 'tt0385307',
 'tt0253556',
 'tt1321870',
 'tt1045778',
 'tt1057500',
 'tt0473705',
 'tt1135487',
 'tt0120764',
 'tt0443632',
 'tt0762125',
 'tt0253754',
 'tt0138524',
 'tt2083383',
 'tt1226273',
 'tt0120004',
 'tt0289848',
 'tt1034331',
 'tt0120749',
 'tt0821642',
 'tt0146984',
 'tt0181875',
 'tt0455499',
 'tt0329774',
 'tt0822847',
 'tt0165982',
 'tt0119081',
 'tt0259288',
 'tt0387877',
 'tt0454824',
 'tt0272020',
 'tt0134983',
 'tt1837709',
 'tt1538403',
 'tt0765476',
 'tt0382628',
 'tt0131369',
 'tt0494238',
 'tt0831887',
 'tt3045616',
 'tt0460780',
 'tt0294357',
 'tt4591310',
 'tt0326905',
 'tt1431045',
 'tt0120701',
 'tt2179136',
 'tt1051904',
 'tt0425123',
 'tt0158622',
 'tt0095956',
 'tt0379865',
 'tt2479478',
 'tt1314228',
 'tt2234155',
 'tt1220634',
 'tt0485985',
 'tt0118971',
 'tt1232200',
 'tt0116136',
 'tt0367479',
 'tt1071875',
 'tt0238112',
 'tt0395699',
 'tt0351977',
 'tt0109830',
 'tt0952640',
 'tt0212338',
 'tt0114148',
 'tt0078346',
 'tt0117218',
 'tt0386588',
 'tt0119190',
 'tt0328828',
 'tt1535109',
 'tt1279935',
 'tt0112642',
 'tt0455944',
 'tt0252076',
 'tt0112740',
 'tt0454921',
 'tt0408790',
 'tt0109635',
 'tt0120632',
 'tt0266697',
 'tt0131325',
 'tt0378194',
 'tt0098439',
 'tt0104070',
 'tt0184894',
 'tt0116253',
 'tt1396218',
 'tt0865556',
 'tt1621039',
 'tt0103644',
 'tt0116250',
 'tt0122690',
 'tt0116409',
 'tt1109624',
 'tt1298649',
 'tt0269347',
 'tt0128278',
 'tt0338466',
 'tt0839980',
 'tt1430626',
 'tt0824747',
 'tt0115857',
 'tt0116277',
 'tt0293508',
 'tt0414055',
 'tt0402022',
 'tt0279111',
 'tt0120390',
 'tt0780567',
 'tt2281587',
 'tt0167456',
 'tt1126591',
 'tt0344510',
 'tt0056193',
 'tt0160184',
 'tt0187738',
 'tt0814314',
 'tt1308729',
 'tt0099674',
 'tt0368709',
 'tt0463034',
 'tt0081573',
 'tt0299930',
 'tt0405676',
 'tt0162650',
 'tt0118617',
 'tt0203009',
 'tt0249478',
 'tt1355683',
 'tt0418689',
 'tt1197624',
 'tt0462322',
 'tt0120603',
 'tt0338216',
 'tt0264464',
 'tt1790885',
 'tt0452594',
 'tt0795421',
 'tt0817230',
 'tt0377818',
 'tt0120863',
 'tt1488555',
 'tt0125664',
 'tt0112641',
 'tt1179034',
 'tt0245803',
 'tt0183505',
 'tt0414853',
 'tt0790604',
 'tt1259571',
 'tt0126029',
 'tt1385826',
 'tt0102798',
 'tt0116695',
 'tt1637725',
 'tt0119822',
 'tt0129290',
 'tt1229340',
 'tt0280590',
 'tt1650062',
 'tt0195685',
 'tt0251127',
 'tt2294449',
 'tt0110148',
 'tt1068680',
 'tt1489889',
 'tt0120686',
 'tt1528854',
 'tt2180411',
 'tt0454848',
 'tt0120784',
 'tt0112715',
 'tt1389137',
 'tt0448011',
 'tt0427229',
 'tt0377109',
 'tt1570728',
 'tt0356634',
 'tt0388419',
 'tt1210166',
 'tt0114069',
 'tt2024469',
 'tt1075417',
 'tt0434409',
 'tt0300471',
 'tt0381971',
 'tt0400497',
 'tt0260866',
 'tt1428538',
 'tt0250797',
 'tt1464540',
 'tt0365737',
 'tt4172430',
 'tt2262227',
 'tt0408345',
 'tt0118548',
 'tt0119173',
 'tt0119174',
 'tt0384537',
 'tt0191397',
 'tt1605630',
 'tt0120768',
 'tt2106361',
 'tt0109254',
 'tt0099700',
 'tt1872194',
 'tt0119874',
 'tt0318627',
 'tt0317198',
 'tt0313443',
 'tt0110725',
 'tt0424774',
 'tt0163978',
 'tt0350028',
 'tt1186367',
 'tt0126916',
 'tt0117765',
 'tt1392197',
 'tt1212419',
 'tt0264935',
 'tt0112401',
 'tt0367959',
 'tt0160916',
 'tt1517260',
 'tt0468492',
 'tt1517260',
 'tt0468492',
 'tt0264395',
 'tt0309377',
 'tt0963178',
 'tt0116225',
 'tt0129167',
 'tt0362270',
 'tt1124037',
 'tt0289992',
 'tt0331933',
 'tt2199571',
 'tt0765443',
 'tt0378109',
 'tt0151137',
 'tt1240982',
 'tt1462041',
 'tt0119592',
 'tt0109190',
 'tt0114345',
 'tt0977855',
 'tt0421054',
 'tt0113451',
 'tt1034032',
 'tt1559547',
 'tt0266452',
 ...]

In [454]:
len(imdb_list)

4799

In [455]:
imdb_movieids = pd.DataFrame(imdb_list, columns=['imdb id'])

In [456]:
imdb_movieids

        imdb id
0     tt0499549
1     tt0449088
2     tt2379713
3     tt1345836
4     tt0401729
...         ...
4794  tt0104815
4795  tt1880418
4796  tt3000844
4797  tt2070597
4798  tt0378407

[4799 rows x 1 columns]

In [457]:
imdb_movieids.to_csv('datasets/imdb_movie_ids.csv',index=False)

### Now we have to merge both the datasets

In [458]:
movies_df = pd.read_csv('datasets/movies_final.csv')
imdb_ids_df = pd.read_csv('datasets/imdb_movie_ids.csv')

In [459]:
movies_df.shape

(4799, 4)

In [460]:
imdb_ids_df.shape

(4799, 1)

In [461]:
merged = pd.concat([movies_df,imdb_ids_df],axis=1)
merged

,index,movie_id,title,tags,imdb id
0,0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",tt0499549
1,1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",tt0449088
2,2,206647,Spectre,A cryptic message from Bond’s past sends him o...,tt2379713
3,3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,tt1345836
4,4,49529,John Carter,"John Carter is a war-weary, former military ca...",tt0401729
...,...,...,...,...,...
4794,4794,9367,El Mariachi,El Mariachi just wants to play his guitar and ...,tt0104815
4795,4795,72766,Newlyweds,A newlywed couple's honeymoon is upended by th...,tt1880418
4796,4796,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",tt3000844
4797,4797,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...,tt2070597
4798,4798,25975,My Date with Drew,Ever since the second grade when he first saw ...,tt0378407

In [463]:
merged.to_csv('datasets/movies_final_updated.csv',index=False)